* {
    color: white;
    font-family: 'Space Mono', monospace;
}

body {
    height: 100vh;
    background-color:rgba(182, 182, 180, 0.796);
    background-image: url(../TicTacExtras/pexels-felix-mittermeier-956981.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    text-align: center;
}

section.board {
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-columns: repeat(3, 10vmin);
    grid-gap: 0vmin;
    
    
}


section > div {
    border: 3px solid white;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;

}

h1, h2, h3 {
    margin-block-end: 0;
    margin-block-start: 0;
}
h1{
    font-size: 8vmin;
    font-weight: 700;
    margin-top: 40px;
}
h2{
    font-size: 4vmin;
}
h3{
    margin-top: 25px;
    margin-bottom: 0;
}
#reset {
    margin-top: 15px;
    color: navy;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
}




