* {
    color: white;
    font-family: 'Space Mono', monospace;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgba(182, 182, 180, 0.796);
    background-image: url(../TicTacExtras/pexels-felix-mittermeier-956981.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    /* margin: 0 auto; */
    text-align: center;
}

section.board {
    padding: 50px;
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-columns: repeat(3, 10vmin);
    grid-gap: 0vmin;
    
    
}


section > div {
    border: 3px solid white;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
}

h1{
    font-size: 8vmin;
    font-weight: 700;
}
h2{
    font-size: 4vmin;
}
#reset {
    margin-top: 15px;
    color: navy;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
}



